
  <div class="container">
    <ul>
      <div class="container">
        <% @events.each do |event| %>
          <%= event.title%>
          +<br>
          <%= event.start_date%> - <%= event.end_date%>
          <br>
          <%= event.start_time%> - <%= event.end_time%>
          <br>
          <%= event.notes%>
          <br>
          ______________________________
          <br>
        <%end%>
      </div>
    </ul>
    its working 🥳
  </div>
